<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:andriod="http://schemas.android.com/apk/res-auto"
    package="com.example.railwayapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        andriod:name="${applicationName}"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:label="railwayapp"
        android:theme="@style/Theme.railwayapp">

        <!-- Add your Google Maps API Key here -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvcKSoDFU2RwOLnLMrjoxfayiX_AGD850"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
